bsbmLocation: "../bsbmtools-0.2/"
executable: "quit-store"
repetitions: 2
bsbmRuns: 100
bsbmWarmup: 5
resultDirectory: "2017-07-27_2/"
repositoryBasePath: "repo"
logBasePath: "logs"
bareRepo: false
profiling: false

scenarios:
    - "withGC": {
        storeArguments: "-gc"
    }
    - "woGC": {
    }
    - "tmpFS": {
        storeArguments: "",
        repositoryBasePath: "/tmp/mnt/"
    }
    - "newFeature": {
        executable: "quit-store-with-new-feature"
    }
    - "baseline": {
        storeArguments: "-nv"
    }
